@media only screen and (min-width:601px){

  .headerMenu a {
    color: #C7493A;
    margin: 5px;
    text-decoration: none;
  }
  .headerMenu a:active {
    color: #C7493A;
  }
  .dropdown .dropbtn {
    display: none;
  }
  .headerMenu .dropdown .dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dropdown-content {
  display: none;
}

.headerMenu {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  border-bottom: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  list-style: none;
}
.websiteTitle {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #E50A13;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
}
