.lists-container {
    display: flex;
    justify-content: space-evenly;
}
.watchlist{
    width:  50%;
    text-align: center;
    border: 2px solid grey;
}
.omdb-list{
    width:  50%;
    text-align: center;
    border: 2px solid grey;
}
.ombd-li {
    list-style: none;
}

.omdb-poster {
    width: 60px;
}